<%- include ("partials/header") %>



<h1>hello</h1>
<ul>
    <% data.forEach((doc) => { %>
        
        <li><a href="/<%-doc.id %>"><%=doc.data().name %></a>-<%=doc.data().Age %>-<%=doc.data().designation %></li>
    
    <% }); %>

</ul>

























<%- include ("partials/footer") %>










