<%- include ("partials/header") %>




<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="pt-5">
                <h5>Name : <%= data.name %></h5>
                <h5>Age : <%= data.Age %></h5>
                <h5>Gender : <%= data.gender %></h5>
                <h5>Designation : <%= data.designation %></h5>
            </div>
        </div>
        <div class="col-6">
            <img src="assets\e7c1de41c8b7cabb5a86d73970729a1c_about-the-naspp-naspp_300-300.png" alt="">            
        </div>
    </div>       
</div>




















<%- include ("partials/footer") %>




